<md-toolbar color="warn" *ngIf="error">
    ERROR: {{error}}. <a routerLink="/collection">Back to collection</a>
</md-toolbar>

<md-card *ngIf="model">
    <img [src]="model.imageUrl">
    <md-card-title-group>
        <md-card-title>{{model.title}}</md-card-title>
        <md-card-subtitle>
            {{model.year}} {{model.genre}}
        </md-card-subtitle>
    </md-card-title-group>
    <md-card-content>
        {{model.description}}
    </md-card-content>
    <md-card-content *ngIf="playbackUrl" class="video-container">
        <video appVideoJsPlayer preload="auto" controls autoplay 
        [src]="playbackUrl" data-setup='{"fluid": true}'></video>
    </md-card-content>
    <md-list>
        <h3 md-subheader>Folders</h3>
        <div *ngFor="let folder of model.folders">
            <md-list-item class="folder"
                (click)="folder.expanded = !folder.expanded">
                <md-icon md-list-avatar>folder</md-icon>
                <h4 md-line>{{folder.title}}</h4>
                <p md-line class="files-count"> {{folder.files.length}} files</p>
            </md-list-item>
            <md-list-item *ngIf="folder.expanded" class="files-list">
                <a md-line></a>
                <h6 md-line *ngFor="let file of folder.files" class="file" 
                    [class.blocked] = "!file.m3u8"
                    (click)="playFile(file.id)">
                    <md-icon md-list-avatar>note</md-icon> {{file.title}}
                </h6>
            </md-list-item>
        </div>
    </md-list>
</md-card>